!!! 5
%html
    %head
        %title TOCHKA 3
        %link{ :rel => 'stylesheet', :href => 'style.css' }
    %body
        %h1 
            Verstka
        .container 
            .block.ver1
                %h3 Pervoe
                %p Pishem v pervom
            .block.ver2
                %h3 Vtoroe
                %p Da i vo vtorom tozhe
            .block.ver3
                %h3 Tret'ye
                %p Lorem ipsum dolor sit amet consectetur adipisicing.